<!-- <ul>
    <li *ngFor="let pais of paises">
        {{ pais.name }} - {{ pais.population | number }}
    </li>
</ul> -->
<!-- 
<div class="card-columns">
    <div *ngFor="let cancion of newReleases" class="card">
        
        <img [src]="cancion.images | noimage" class="card-img-top" alt="...">

        <div class="card-body">
            <h5 class="card-title"> {{ cancion.name }} </h5>
            <p class="card-text"><span *ngFor="let artista of cancion.artists" class="badge badge-pill badge-info">{{ artista.name }}</span></p>
        </div>
    </div>
</div> -->

<app-tarjeta [items]="newReleases"></app-tarjeta>